body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.header,
.cover__title,
.lots,
.about,
.footer {
  /* Content box */
  padding: 0 3.125rem;
}

.cover,
.bet-button,
.lots__heading,
.card__title,
.about__title {
  text-transform: uppercase;
}

button,
a {
  cursor: pointer;
}

.header {
  padding: 5.75rem 3.125rem 5.75rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  gap: 2rem;
  list-style: circle;
  font-size: 1.125rem;
  font-weight: 400;
}

.header__links-list-item {
  font-size: 1.125rem;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  text-align: center;
  transform: translateX(-55%);
}

.header__logo-image {
  height: 6.56rem;
}

.address {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  line-height: 1.5rem;
}

.address a {
  text-decoration-thickness: 1px;
  max-width: fit-content;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  padding: 3.13rem 2.5rem 3.12rem 2.5rem;
}

.cover {
  border: 1px solid black;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  color: white;
  font-size: 6.25rem;
  font-weight: 700;
  letter-spacing: 1.875rem;
  z-index: 2;
  opacity: 1;
  margin: 10.31rem 0 8.46rem 0;
}

.aligned-text {
  align-self: flex-start;
  line-height: 115%;
}

.aligned-text_center {
  align-self: center;
  line-height: 100%;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 3.75rem;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4.88rem;
  margin: 3.12rem;
  font-size: 1.375rem;
  font-weight: 400;
  color: white;
}

.cover__description-text {
  font-size: inherit;
  font-weight: inherit;
  word-spacing: 1.063rem;
}

.word-spacing-extended {
  word-spacing: 1.375rem;
}

.bet-button {
  padding: 0.75rem 2rem;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.lots {
  margin: 11.25rem 0 11.37rem 0;
}

.lots__heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 2.5rem;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.56rem;
  list-style: none;
  margin: 1.69rem 0 1.88rem 0;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 26.875rem;
  min-height: 28.125rem;
  flex-grow: 1;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
}

.card__title {
  color: white;
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  text-decoration: underline;
  margin-left: 2.5rem;
  text-underline-offset: 0.25rem;
}

.cover,
.card_type_film,
.card_type_book,
.card_type_picture {
  /* Neat way to add an overlay */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1.563rem;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.938rem 2.875rem;
  margin: 0 5.94rem;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 9.25rem;
  height: 7.125rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about__title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-weight: 700;
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.about__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.438rem;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 1.813rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 11.4rem;
  padding-bottom: 5.63rem;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 1.125rem;
  font-weight: 400;
}

.footer__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
}

.footer__social-list-item {
  width: 3rem;
}
